body {
 align-content: center;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #36454f;
}

.nav-ul {
  display: inline;
  margin-right: 30px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#36454f;
  margin-top: 30px;
}
.box right;